<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    </head>
    <body>
        <div id="page">
            <div id="login_container">
                <h2>Login</h2>
                <div id="login_boxes">
                    <form id="login_inputs" form action="login" method="post">
                        <input type="text" name="us_input" placeholder="Username">
                        <input type="password" name="pwd_input" placeholder="Password">
                        <input type="submit" value="Log in">
                    </form>

                    <form action="register">
                        <input type="submit" value="Register">
                    </form>
                    <p><%= error_text %></p>
                </div>
            </div>
        </div>
    </body>
</html>